body {
    background-color: #222222;
    font-family: "Helvetica";
    overflow: hidden;
    margin: 0;
}

p {
    color: #999;
}
h1
{
	color:white;
}


#map {

}

#centerBox{
	height:50%;
	width:50%;
	min-width:500px;
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
}

#messagesTextArea{
	height:200px;
	width:100%;
}

#messageTextBox{
	width:75%;
	height:25px;
}

#submitButton{	
	width:20%;
	height:25px;
	margin-left:1px;
	margin-top:4px;
	float:right;
	background-color:white;
}
